<div class="navbar container">
  <a class="brand" href="/">MONITOR</a>
  <ul class="nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/dba?db=group_members">资源组成员管理</a></li>
        <li><a href="/dba?db=group_fields">资源组采集项管理</a></li>
        <li><a href="/dba?db=field_content">采集项内容管理</a></li>
        
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">视图<b class="caret"></b></a>
      <ul class="dropdown-menu" id="viewMenu">
        <li><a href="freeChart">查看图表</a> 
        <li><a href="/dba?db=chart_fields">图表内容管理</a></li>
        <li><a href="/dba?db=view">视图管理</a></li>
        </li>      
      </ul>
    </li>
  </ul>
</div>

